#home_btn {
  font-weight: 600 !important;
}

/* -- INTRO BANNER -- */
#intro_banner {
  height: 75vh;
  background-image: url("../tSNE_anim_03.gif");
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}

#intro_banner h1 {
  margin-top: 50vh;
  margin-left: 15%;
  font-size: 5.5rem;
  font-weight: 600;
  letter-spacing: 1.5px;
}

#intro_banner p {
  margin-left: 15%;
}

/* -- WORKFLOWS -- */
#wkflow_intro h2.section_title {
  margin-bottom: 30px;
  color: #8ea604;
}

.wkflow_apps {
  margin-right: 30px;
  margin-left: 30px;
}

.thumbnail h4 {
  font-size: 24px;
  letter-spacing: 1px;
}

.thumbnail {
  text-align: center;
  margin-top: 80px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px;
  border-radius: 5px;
  background-color: #1e1c49;
}

.thumbnail img {
  width: 60%;
  margin-top: -60px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 5px 15px black;
  background-color: #f9f9f9;
}

.thumbnail a {
  display: inline-block;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 40px;
  padding-left: 40px;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  background-color: #8ea604;
  color: #f9f9f9;
}

.thumbnail a:hover {
  text-decoration: none;
  background-color: #bfce32;
}

#cassatt {
  background-color: #4c4c4c;
}

/* -- INTRO CYTO -- */
#intro_cyto {
  margin-top: 55px;
  margin-right: 30px;
  margin-left: 30px;
  padding-top: 55px;
  padding-bottom: 55px;
  background-color: #f9f9f9;
  text-align: center;
  align-content: center;
}

#intro_cyto h4.section_subtitle {
  margin-top: 0px;
  color: #4c4c4c;
}

#intro_cyto h2.section_title {
  margin-bottom: 30px;
  color: #ea660c;
}

#intro_cyto p {
  margin-bottom: 30px;
  color: #4c4c4c;
}

#intro_cyto img {
  width: 55%;
  height: 130px;
  margin-bottom: 30px;
}

#intro_cyto h3 {
  color: #4c4c4c;
  font-family: Urbanist, Arial, sans-serif;
  font-size: 24px;
  letter-spacing: 1px;
}

#intro_cyto .number_card p {
  font-family: Cormorant-Garamond, serif;
  font-style: italic;
  color: #4c4c4c;
}

#intro_cyto a {
  display: inline-block;
  align-self: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 40px;
  padding-left: 40px;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  background-color: #ea660c;
  color: #f9f9f9;
}

#intro_cyto a:hover {
  text-decoration: none;
  background-color: #e87f38;
}

/* -- ABOUT -- */
#about_row {
  margin-top: 55px;
  margin-left: 30px;
  margin-right: 30px;
}

#about {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #004ce5;
}

#about h2 {
  margin-bottom: 20px;
}

#about p {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15%;
}

#people {
  padding-top: 40px;
}

#people .section_title {
  margin-bottom: 20px;
}

.person_card {
  margin-left: 30px;
  margin-bottom: 20px;
}

.person_card img {
  width: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.person_card .col-sm-8 {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 15px;
  background-color: #f9f9f9;
  color: #4c4c4c;
}

.person_card h4 {
  margin-bottom: 10px;
  font-size: 28px;
  letter-spacing: 1px;
  font-weight: 600;
  line-height: 1.2;
  color: #004ce5;
}

.person_card h5 {
  font-size: 18px;
  letter-spacing: 1px;
}

.person_card .col-sm-8 p {
  color: #4c4c4c;
  line-height: 1.2;
}

.person_card .email {
  padding-bottom: 8px;
  font-weight: 600;
  font-family: Urbanist, Arial, sans-serif;
}

#about_row .col-lg-12 {
  padding-left: 30px;
}

#past_members {
  text-align: center;
  border-radius: 5px;
  padding: 15px;
  padding-top: 19px;
  background-color: #1e1c49;
}

#past_members a {
  padding-top: 2px;
  text-transform: uppercase;
  color: #f9f9f9;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1.5px;
}

#past_members a:hover {
  text-decoration: none;
  font-weight: 600;
}

#past_members img {
  margin-top: -6px;
  height: 25px;
  padding-left: 10px;
}

/* -- FUNDING -- */
#funding {
  margin-top: 65px;
  margin-bottom: 65px;
  text-align: center;
}

#funding img {
  width: 75%;
}

#funding h5 {
  margin-top: 20px;
  font-family: Cormorant-Garamond, serif;
  color: rgba(255, 255, 255, 0.65);
}

#funding a {
  color: rgba(255, 255, 255, 0.65);
}

#funding a:hover {
  text-decoration: none;
  color: #A7CF36;
}

#orcid {
  margin-top: -5px;
  width: 18px !important;
  height: 18px;
}

/*# sourceMappingURL=home_style.css.map */
