/* -- SM LAPTOP & TABLET -- */
@media screen and (max-width: 991px) {
	#navbar a { 
		width: 15%;
	}
	#footer p { 
		max-width: 75%; 
		margin-left: auto;
		margin-right: auto;
	}
}

// br for navbar 
@media screen and (max-width: 630px) {
	#navbar a { width: 20%; }
}

/* -- PHONES -- */ 
@media screen and (max-width: 576px) {
	.section_subtitle { 
		margin-top: 30px;
		font-size: 16px; 
	}
	.section_title { 
		margin-bottom: 10px;
		font-size: 30px; 
	}
	#footer {
		padding-top: 30px;
		padding-bottom: 30px;
		padding-right: 20px;
		padding-left: 20px;
	}
}

// br for navbar 
@media screen and (max-width: 500px) {
	#navbar { 
		text-align: center; 
		margin-right: 30px;
		margin-left: 30px;
	}
	#navbar a {
		display: block;
		width: 100%;
	}
}