$header_stack: Urbanist, Arial, sans-serif;
$body_stack: Cormorant-Garamond, serif;
$cornsilk: #f9f9f9;
$text_gray: #4c4c4c;
$darkest_gray: #302f2f;
$irish_blue: #121037;
$irish_blue_light: #1e1c49;
$rust: #ea660c;
$rust_light: #e87f38;
$citron: #8ea604;
$citron_light: #bfce32; 

/* -- GLOBAL -- */ 
body {
	background-color: $irish_blue;
	color: $cornsilk;
	margin: 0px;
	font-family: $header_stack;	
}
.section_subtitle {
	margin-top: 55px;
	margin-bottom: 0px;
	text-align: center;
	font-weight: 200;
	font-size: 24px;
	letter-spacing: 1.5px;
}
.section_title {
	margin-bottom: 30px;
	text-align: center;
	font-size: 50px;
	font-weight: 600;
	letter-spacing: 1.5px;
}
p {
	margin-bottom: 0px;
	font-size: 16px;
	font-family: $body-stack;
	letter-spacing: 1px;
	color: $cornsilk; 
    color: rgba(255, 255, 255, 0.65);
}

/* -- NAVBAR -- */
#navbar {
	margin-left: 40px;
	margin-right: 40px;
	border-top: 1px solid $cornsilk;
	border-bottom: 1px solid $cornsilk;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;	
}
#navbar a {
	display: inline-block;
	width: 10%;
	font-family: $header-stack;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1.5px;
	color: $cornsilk;
}
#navbar a:hover { font-weight: 600; }

/* -- FOOTER -- */
#footer {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: $darkest_gray;
	text-align: center;
}
#footer p {
	color: #6b6666;
}
