/* -- GLOBAL -- */ 
$header_stack: Urbanist, Arial, sans-serif;
$body_stack: Cormorant-Garamond, serif;
$cornsilk: #fffcf2;
$text_gray: #4c4c4c;
$darkest_gray: #302f2f;
$irish_blue: #121037;
$irish_blue_light: #1e1c49;
$cyber_yellow: #ffd400;
$teal: #5cad7d;
$royal_blue: #0246ec;
$royal_blue_light: #376ce8;
$rust: #a63c06;
$rust_light: #b56546;
$fuchsia: #fd3e81;

body {
	background-color: $irish_blue;
	color: $cornsilk;
	margin: 0px;
	font-family: $header_stack;	
}
.section_subtitle {
	margin-top: 55px;
	margin-bottom: -5px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 200;
	font-size: 14px;
	letter-spacing: 1.5px;
}
.section_title {
	margin-bottom: 30px;
	text-align: center;
	text-transform: uppercase;
	font-size: 35px;
}
p {
	margin-bottom: 0px;
	font-size: 14px;
	font-family: $body-stack;
	letter-spacing: 1px;
	color: $cornsilk; /* Fallback for older browsers */
    color: rgba(255, 255, 255, 0.60);
}

/* -- INTRO BANNER -- */ 
#intro_banner {
	height: 75vh;
	background-image: url("tSNE_anim_02.gif");
	background-position: right;
	background-repeat: no-repeat;
	background-size: contain;
}
#intro_banner h1 {
	margin-top: 45vh;
	font-size: 4rem;
}

/* -- NAVBAR -- */
#navbar {
	margin-left: 40px;
	margin-right: 40px;
	border-top: 1px solid $cornsilk;
	border-bottom: 1px solid $cornsilk;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;	
}
#navbar a {
	padding-right: 30px;
	padding-left: 30px;
	font-family: $header-stack;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1.5px;
	color: $cornsilk;
}
#navbar a:hover {
	font-weight: 600;
}

/* -- WORKFLOWS -- */ 
#wkflow_intro h2.section_title  {
	margin-bottom: 20px;
}
.thumbnail {
	text-align: center;
	margin-top: 80px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 20px;
	border-radius: 5px;
	background-color: $irish_blue_light;
}
.thumbnail img {
	width: 60%;
	margin-top: -60px;
	margin-bottom: 20px;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0px 5px 15px $darkest_gray;
	background-color: $cornsilk;
}
.thumbnail a {
	display: inline-block;
	margin-top: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 40px;
	padding-left: 40px;
	border-radius: 5px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	background-color: $royal_blue;
	color: $cornsilk;
}
.thumbnail a:hover {
	text-decoration: none;
	background-color: $royal_blue_light;
}

/* -- INTRO CYTO -- */
#intro_cyto {
	margin-top: 55px;
	margin-right: 30px;
	margin-left: 30px;
	padding-top: 55px;
	padding-bottom: 55px;
	background-color: $cornsilk;
	text-align: center;	
	align-content: center;
}  
#intro_cyto h4.section_subtitle { 
	margin-top: 0px;
	color: $text_gray; 
}
#intro_cyto h2.section_title { 
	margin-bottom: 20px;
	color: $rust; 
}
#intro_cyto p {
	margin-bottom: 20px;
	color: $text_gray;
}
#intro_cyto img {
	width: 55%;
	margin-bottom: 30px;
}
#intro_cyto h3 {
	color: $text_gray;
	font-family: $header_stack;
	font-size: 24px;
	letter-spacing: 1px;
}
#intro_cyto .number_card p {
	font-family: $body_stack;
	font-style: italic;
	color: $text_gray;
}
#intro_cyto a {
	display: inline-block;
	margin-top: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 40px;
	padding-left: 40px;
	border-radius: 5px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	background-color: $rust;
	color: $cornsilk;
}
#intro_cyto a:hover {
	text-decoration: none;
	background-color: $rust_light;
}

/* -- FUNDING -- */
#funding {
	margin-top: 65px;
	margin-bottom: 65px;
	text-align: center;
}
#funding img {
	width: 50%;
}

/* -- FOOTER -- */
#footer {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: $darkest_gray;
	text-align: center;
}
