/* -- GLOBAL -- */ 
$header_stack: Urbanist, Arial, sans-serif;
$body_stack: Cormorant-Garamond, serif;
$cornsilk: #fffae2;
$text_gray: #4c4c4c;
$dark_blue: #121037;
$cyber_yellow: #ffd400;
$teal: #5cad7d;
$royal_blue: #0246ec;
$rust: #a63c06;
$fuchsia: #fd3e81;

body {
	background-color: $dark_blue;
	color: $cornsilk;
	margin: 0px;
	font-family: $header_stack;	
}
.section_subtitle {
	margin-top: 65px;
	margin-bottom: -5px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 200;
	font-size: 14px;
	letter-spacing: 1.5px;
}
.section_title {
	margin-bottom: 30px;
	text-align: center;
	text-transform: uppercase;
	font-size: 35px;
}
p {
	font-size: 14px;
	font-family: $body-stack;
	letter-spacing: 1px;
	color: $cornsilk; /* Fallback for older browsers */
    color: rgba(255, 255, 255, 0.60);
}

/* -- INTRO BANNER -- */ 
#intro_banner {
	height: 75vh;
	background-image: url("tSNE_anim_02.gif");
	background-position: right;
	background-repeat: no-repeat;
	background-size: contain;
}
#intro_banner h1 {
	margin-top: 45vh;
	font-size: 4rem;
}

/* -- NAVBAR -- */
#navbar {
	margin-left: 40px;
	margin-right: 40px;
	border-top: 1px solid $cornsilk;
	border-bottom: 1px solid $cornsilk;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;	
}
#navbar a {
	padding-right: 30px;
	padding-left: 30px;
	font-family: $header-stack;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1.5px;
	color: $cornsilk;
}
#navbar a:hover {
	font-weight: 600;
}

/* -- INTRO CYTO -- */ 
.number_card {
	margin-bottom: 15px;
	padding: 20px;
	border-radius: 5px;
	background-color: white;
}
#intro_cyto a {
	font-family: $body_stack;
	font-size: 28px;
	text-decoration: none;
	font-weight: bold;
	letter-spacing: 1px;
}
#intro_cyto .number_card p {
	font-style: italic;
	margin-bottom: 0px;
	color: $text_gray;
}
#intro_cyto h1 {
	margin-bottom: 0px;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 4rem;
}
#cyto_01 a, #cyto_01 h1 {
	color: $royal_blue;
}
#cyto_01 {
	background-image: url("pics/westblot_bkground_bw.svg");
	background-size: 75%;
	background-repeat: no-repeat;
	background-position: right bottom;
}
#cyto_02 a, #cyto_02 h1 {
	color: $fuchsia;
}
#cyto_03 a, #cyto_03 h1 {
	color: $cyber_yellow;
}


/* -- WORKFLOWS -- */ 
.wkflow_apps {
	margin-bottom: 30px;
}
.wkflow_apps .col-10 {
	padding-right: 0px;
	padding-left: 0px;
}
.wkflow_apps a {
	text-decoration: none;
	color: $cornsilk;
}
.thumbnail {
	border: 1px solid $cornsilk;
	border-radius: 5px;
	padding-right: 10px;
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
}
.thumbnail .row {
	width: 100%;
	margin-right: 0px;
	margin-left: 0px;
}
.thumbnail img {
	width:  100%;
}
.thumbnail .col-6 {
	padding-right: 0px;
	padding-left: 0px;
}
.thumbnail .col-6 h4 {
	margin-left: 5px;
}
.thumbnail .col-6 p {
	margin-bottom: 0px;
	margin-left: 5px;
}
.thumbnail:hover {
	// color: rgba(255, 255, 255, 0.60);
	// border-color: rgba(255, 255, 255, 0.60);
	color: $rust;
	border-color: $rust;
}
